<div>
  <div class="input-container">
    <fa-icon [icon]="faSearch"></fa-icon>
    <label for="searchFiled"></label>
    <input #input id="searchFiled" type="text" value="Search free high-resolution photos"
           [matAutocomplete]="auto"
           onfocus="this.value = this.value === 'Search free high-resolution photos' ? '' : this.value"
           onblur="this.value = this.value === '' ? 'Search free high-resolution photos' : this.value"
           (keyup.enter)="onKeyEnter(input.value)" (keyup)="getKeywords(input.value, $event.keyCode)"/>
  </div>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of autocompleteOptions" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</div>
