.wrapper-result {
  width: 1400px;
  margin: 20px auto;
}

.display-content {
  display: inline-block;
  margin: 20px;
}

.search-field {
  margin: 10px auto;
  display: block;
}

::ng-deep .dialog {
  width: 60vw;
  height: 80vh;
}

.grid-container {
  display: flex;
  /*grid-auto-rows: 50px;*/
  /*grid-gap: 10px;*/
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.grid-item{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
