.wrapper-result {
  width: 1400px;
  margin: 20px auto;
}

.display-content {
  display: inline-block;
  margin: 20px;
}

.search-field {
  margin: 10px auto;
  display: block;
}

::ng-deep .dialog {
  width: 80vw;
  height: 80vh;
}
