.wrapper-result {
  width: 1400px;
  margin: 20px auto;
}

.display-content {
  display: inline-block;
  margin: 20px;
}

.search-field {
  margin: 10px auto;
  display: block;
}

::ng-deep .dialog {
  width: 60vw;
  height: 80vh;
}

.header:first-letter {
  text-transform: capitalize;
}

.error {
  color: #710505;
}
