<section class="search-field">
  <h1>Unsplash</h1>
  <p>
    <span style="display: block">The internet's source of <span class="underline">freely-usable-images</span>.</span>
    <span>Powered by creators everywhere.</span>
  </p>
  <label for="searchFiled"></label>
<!--  <i class="fa fa-search"></i>-->
  <input #input class="input-field" id="searchFiled" type="text" value="Search free high-resolution photos"
         onfocus="this.value = this.value === 'Search free high-resolution photos' ? '' : this.value"
         onblur="this.value = this.value === '' ? 'Search free high-resolution photos' : this.value"
         (keyup.enter)="onEnter(input.value)"/>
  <p>
    <span class="inline-block">Trending: flower, wallpapers, backgrounds, happy, love</span>
  </p>
</section>
<router-outlet></router-outlet>
