.wrapper {
  height: 100vh;
  background: center no-repeat url("../../../assets/background.jpg");
  filter: grayscale(50%);
}

.search-field {
  position: absolute;
  top: 400px;
  left: 450px;
}

.search-field input {
  width: 1000px;
  height: 60px;
}

.input-field {
  color: #808080;
}

.inline-block {
  display: inline-block;
}

.underline {
  text-decoration: underline;
}
