.search-field {
  position: absolute;
  top: 500px;
  left: 600px;
}

.search-field input {
  width: 500px;
  height: 40px;
}

.input-field {
  color: #808080;
}

.inline-block {
  display: inline-block;
}

.underline {
  text-decoration: underline;
}
