.wrapper-search {
  height: 100vh;
  background: center no-repeat url("src/assets/background.jpg");
  filter: grayscale(50%);
  color: #ffffff;
}

.search-field {
  position: absolute;
  top: 400px;
  left: 450px;
}

.underline {
  text-decoration: underline;
}
