* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, serif;
}

h1 {
  font-size: 46px;
  font-weight: 900;
}

span {
  line-height: 3em;
}

.display-inline::after {
  content: "\a";
  white-space: pre;
}
